* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e1d4bb;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10%;
}

header {
  background-color: #eeeeee;
  border-radius: 0 0 30% 30%;
  height: 50px;
  margin-bottom: 10%;
  /* position: fixed; */
  width: 100vw;
  z-index: 1;
}

h1 {
  text-align: center;
  color: #537188;
  text-shadow: 2px 2px 5px darkslategrey;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 5%;
  justify-content: center;
  align-content: center;
}

.question_card {
  text-align: center;
  background-color: #f99b7d;
  border-radius: 10% / 50%;
  box-shadow: 5px 5px rgb(226, 179, 132);
  width: 70vw;
  height: 18vh;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 30% 30% 20% 20%;
  align-content: center;
}

p {
  font-size: 100%;
  margin-top: 2%;
  color: whitesmoke;
  text-shadow: 2px 2px 5px darkslategrey;
  grid-column-start: 1;
  grid-column-end: 5;
  place-items: center;
}

.answer {
  visibility: hidden;
  color: darkslategray;
  text-shadow: 2px 2px 5px whitesmoke;
  grid-column-start: 3;
  grid-column-end: 4;
}

.answer-showed {
  color: darkslategray;
  text-shadow: 2px 2px 5px whitesmoke;
}

.mark {
  position: absolute;
  top: -15px;
  right: 10px;
  background-color: #8bacaa;
  border-radius: 0 0 90% 90%;
  box-shadow: 2px 2px 2px wheat;
  width: 50px;
  height: 50px;
}

.bookmarked {
  position: absolute;
  top: -15px;
  right: 10px;
  background-color: #b04759;
  border-radius: 0 0 90% 90%;
  box-shadow: 2px 2px 2px wheat;
  width: 50px;
  height: 50px;
}
.mark:hover {
  background-color: #b04759;
}

.show {
  align-self: center;
  width: 70px;
  background-color: #8bacaa;
  border-style: hidden;
  grid-column: 3 / 3;
}

.hide {
  align-self: center;
  width: 70px;
  background-color: #e76161;
  border-style: hidden;
  grid-column: 3 / 3;
}

button:hover {
  background-color: #b04759;
  color: #8bacaa;
}

.tag1 {
  color: whitesmoke;
  font-size: 15px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row: 4 / 4;
}

.tag2 {
  color: whitesmoke;
  font-size: 15px;
  grid-column: 2 / 2;
  grid-row: 4 / 4;
}

footer {
  background-color: #eeeeee;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  border-radius: 45% 45% 0 0;
  margin-top: 20px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-direction: row;
  height: 40px;
}

.profile_head {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

img {
  border-radius: 50%;
  width: 50vw;
  height: 50vh;
}

h2 {
  align-self: center;
  color: #b04759;
  text-shadow: 2px 2px 5px #f99b7d;
}

h3 {
  text-align: left;
  color: #b04759;
  text-shadow: 2px 2px 5px #f99b7d;
  margin-left: 20%;
}

.profile_text {
  text-align: left;
  margin-left: 20%;
  text-align: left;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 40px;
  margin-left: 20%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
